debug/
release/
doc/*.aux
*-eps-converted-to.pdf
*.log
*.out
*.diag
*~
results/results.summary
results/failed.tests
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt
src/iron/CMakeFiles
src/iron/Makefile
src/iron/cmake_install.cmake
src/iron/example
src/iron/*.mod
